<div>
    <md-card>
        <md-card-header>
            <md-card-title>
                Add a link
            </md-card-title>
        </md-card-header>
        <form class="">
            <md-card-content>
                <div class="field">
                    <md-input name="title" #newtitle placeholder="Title"></md-input>
                </div>
                <div class="field">
                    <md-input name="link" #newlink placeholder="Link"></md-input>
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-button [disabled]="newtitle.value == '' || newlink.value == ''"
                        (click)="addArticle(newtitle, newlink)" color="primary">Submit link</button>
            </md-card-actions>
        </form>
    </md-card>
    <div class="posts">
        <reddit-article class="my-animation"
                        *ngFor="let article of articles"
                        [article]="article">
        </reddit-article>
    </div>
</div>
